.nav2 {
  list-style: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 15px;
  text-align: center;
  background-color: yellow;
  height: 1em;
  width: 98%;
}

.nav2 > a {
  color: black;
}

.nav2 > img {
  height: 15px;
  width: 15px;
  padding: 0px 0px 2px 2px;
  vertical-align: middle;
  border: 0;
  box-sizing: border-box;
  overflow-clip-margin: content-box;
}

.fotobox {
  text-align: center;
}
/*
#444444
.foto-box {
  background-size: cover;
  flex-basis: 200px;
  position: relative;
  margin-top: 30px;

  transition: 400ms all ease;
  filter: grayscale(100%) opacity(55%);
}
.foto-box:nth-child(odd) {
  transform: translateY(-20px);
}
.foto-box:hover {
  flex-basis: 50px;
  filter: grayscale(30%) opacity(100%);
}

* {
  outline-width: 0px;
  box-sizing: border-box;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  float: left;
  width: 10%;
  margin-bottom: 0;
  z-index: 2;
}
* {
  outline-width: 30px !important;
}
*/

.anime {
  text-align: center;
}

.num1 > img {
  text-align: center;
  width: 95em;
}
.list li a {
  color: red;
}
body, html {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  -webkit-transform: perspective(500px);
  -webkit-transform-style: preserve-3d;
  background-color: rgb(247, 247, 244);

  .header {
    display: flex;
    flex-direction: column;

    .nav1 {
      text-align: center;
      background-color: rgba(4, 4, 111, 0.855);
      color: yellow;
      padding: 12px;

      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }

    .work {
      text-align: right;
      margin-top: -4em;
      color: white;
      line-height: 10px;

      a {
        color: yellow;
      }

      img {
        height: 15px;
        width: 15px;
        padding: 0 0 2px 2px;
        vertical-align: middle;
        border: 0;
        box-sizing: border-box;
        overflow-clip-margin: content-box;
      }

      @media only screen and (max-width: 500px) {
        display: none;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 0;

    @media only screen and (max-width: 500px) {
      width: 100%;
      overflow-x: auto;
      justify-content: left;
      padding: 10px 0;
    }
  }

  .navbar {
    height: 10px;
    padding: 0;
    margin: 0;

    @media only screen and (max-width: 500px) {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      white-space: nowrap;
      height: 35px;
    }

    li {
      height: auto;
      width: 236px;
      float: left;
      text-align: center;
      list-style: none;
      font: normal bold 12px/1em Arial, Verdana, Helvetica;
      padding: 0;
      margin: 0;
      background-color: rgba(4, 4, 111, 0.855);
    }
    li:not(:first-child) {
      border-left: 3px solid #ccc9c9;
    }

    a {
      padding: 12px 0;
      text-decoration: none;
      color: yellow;
      display: block;
    }
    li:hover {
      background-color: #444444;
    }
    li ul li {
      background-color: blue;
    }
    li ul li a {
      border-left: 1px solid #444444;
      border-right: 1px solid #444444;
      border-top: 1px solid #c9d4d8;
      border-bottom: 1px solid #444444;
    }

    li ul li a:hover {
      background-color: #a3a1a1;
    }
  }

  .image-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .num {
    color: rgb(0, 1, 6);
    height: 10em;

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .main {
    padding-right: 1em;
    font-size: 100%;
    text-align: justify;
    margin-top: 25px;
  }
}
.conteiner {
  text-align: center;
}
